@tailwind base;
@tailwind components;
@tailwind utilities;

h1 span {
  transform: rotate(var(--y));
  transform-origin: left;
  transition: 0.15s ease;
}

p strong {
  font-weight: 700;
}

a {
  text-decoration: underline;
}

.brand-logo {
  display: inline-block;
}

.brand-logo:before {
  position: relative;
  display: inline-block;
  top: 2px;
  margin-right: 3px;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
}

.tailwind:before {
  content: '';
  background-image: url('../src/images/tailwind-logo.png');
}

.webflow:before {
  content: '';
  background-image: url('../src/images/webflow-logo.png');
}

.nextjs:before {
  content: '';
  background-image: url('../src/images/nextjs-logo.svg');
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    translate: 0 25px;
  }
  40% {
    translate: 0 -4px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

.fade-in:nth-child(1) {
  animation-delay: 0.1s;
}

.fade-in:nth-child(2) {
  animation-delay: 0.2s;
}

.fade-in:nth-child(3) {
  animation-delay: 0.4s;
}

.fade-in:nth-child(4) {
  animation-delay: 0.6s;
}

.fade-in:nth-child(5) {
  animation-delay: 0.9s;
}

.fade-in:only-child {
  animation-delay: 0s;
}
