@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: underline;
}

.brand-logo:before {
  position: relative;
  display: inline-block;
  top: 2px;
  margin-right: 3px;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
}

.tailwind:before {
  content: '';
  background-image: url('../src/images/tailwind-logo.png');
}

.nextjs:before {
  content: '';
  background-image: url('../src/images/nextjs-logo.svg');
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    translate: 0 25px;
  }
  40% {
    translate: 0 -4px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

.fade-in:nth-child(1) {
  animation-delay: 0.1s;
}

.fade-in:nth-child(2) {
  animation-delay: 0.2s;
}

.fade-in:nth-child(3) {
  animation-delay: 0.4s;
}

.fade-in:nth-child(4) {
  animation-delay: 0.6s;
}

.play-triangle {
  border-color: currentColor;
  border-top-width: 7px;
  border-bottom-width: 7px;
  border-top-color: transparent;
  border-left-width: 11px;
  border-bottom-color: transparent;
  border-style: solid;
}

.animate-slide-in {
  animation: playerSlideIn 1.75s ease-in-out forwards;
  animation-delay: 1.2s;
}

@keyframes playerSlideIn {
  0% {
    transform: translateY(130%);
  }
  60% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
